Q1:
(a)
The website I use is https://finance.yahoo.com/quote/FEZ/history/
I select the max data going back is 10/21/2002 
I use pandas_datareader to extract yahoo finance data using the ticket name

In [114]:
from pandas_datareader import data
fez = data.DataReader('FEZ', 'yahoo', start = '2002-10-21', end = '2019-11-01')
fez.head()
fez.to_csv('./data/fez.csv')

In [12]:
#(b)
fex_close = list(fez['Close'])
length = len(fex_close)
close_return = []
for i in range(length-1):
    ret = (fex_close[i+1] - fex_close[i])/fex_close[i]
    close_return.append(ret)

print(close_return[:5])


fex_close_adjust = list(fez['Adj Close'])
length_adjust = len(fex_close_adjust)
close_return_adjust = []
for i in range(length_adjust-1):
    ret = (fex_close_adjust[i+1] - fex_close_adjust[i])/fex_close_adjust[i]
    close_return_adjust.append(ret)

print(close_return_adjust[:5])

[-0.02, -0.02530615670340402, -0.004187540939506615, 0.011354017772029174, 0.015384650768023096]
[-0.01999987570612803, -0.025305848631752264, -0.004187826130290846, 0.011353952176655493, 0.015384781382695707]

*** How did you make sure that the returns are adjusted for splits and dividends? What irregularities did you find and how did you deal with them? ***

Answer:<br>
From the data set<br>
Close price adjusted for splits. Adjusted close price adjusted for both dividends and splits.<br>
close_return is the return adjust for splits.<br>
close_return_adjust is the return adjusted for both dividends and splits.<br>

***Q2*** <br>
(a)<br>
i use this website https://us.spdrs.com/en/etf/spdr-euro-stoxx-50-etf-FEZ<br>
Since this is the official website for spdrs, i think the source is good.<br>
I download the data by csv and name it as FEZ_All_Holdings in data folder<br>

(b)<br>
The Currency is EURO<br>
There’s a number of ways that you can manage your exposure to currency risk:<br>
1. Buying currency-hedged ETFs: These products are a very cheap and straightforward way to neutralise currency risk. 
2. More diversify: Splitting assets between different assets and markets reduces total investment risk. 
3. Avoid risk: Increase asset allocation to customers' own currency area

*** Q3 ***

In [117]:
#c(c)
import pandas as pd
stock = pd.read_csv('./data/ETF_stocks.list', header=None)
stock_list = stock[0].tolist()
weight = pd.read_csv('./data/Weight.list', header=None)
stock_weight = weight[0].tolist()

In [72]:
constitute = pd.DataFrame(data.DataReader('SAP.DE', 'yahoo', start = '2002-10-01', end = '2019-11-01')['Close'])
i=0
for ticket in stock_list:
    Tic = ticket.replace('-', '.')
    constitute[Tic] = data.DataReader(Tic, 'yahoo', start = '2002-10-01', end = '2019-11-01')['Close'] * stock_weight[i]
    i=i+1
cons = pd.DataFrame(constitute)
cons.drop('Close', axis = 1, inplace = True)
cons

              SAP.DE     FP.PA      MC.PA   ASML.AS    LIN.DE
Date
2002-10-01  0.575895  1.716838   1.426709  0.355365  1.344974
2002-10-02  0.545651  1.789554   1.463025  0.386217  1.315103
2002-10-03  0.541997  1.735326   1.427507  0.385646  1.306517
2002-10-04  0.535570  1.665074   1.386801  0.352509  1.286351
2002-10-07  0.527379  1.689724   1.366847  0.302803  1.261336
...              ...       ...        ...       ...       ...
2019-10-28  6.033666  2.358958  15.248824  9.414327  6.912542
2019-10-29  5.993341  2.350084  15.174994  9.367402  7.059160
2019-10-30  6.018545  2.349838  15.342608  9.287238  6.947730
2019-10-31  5.988301  2.323709  15.264787  9.189478  6.930136
2019-11-01  6.029634  2.354028  15.534166  9.375222  6.951641

[4362 rows x 5 columns]

In [74]:
lst = list(cons['SAP.DE'])

In [115]:
stock_return = cons.pct_change()
stock_return.to_csv('./data/return.csv')
stock_return

              SAP.DE     FP.PA     MC.PA   ASML.AS    LIN.DE
Date
2002-10-01       NaN       NaN       NaN       NaN       NaN
2002-10-02 -0.052516  0.042355  0.025455  0.086817 -0.022209
2002-10-03 -0.006697 -0.030303 -0.024277 -0.001479 -0.006529
2002-10-04 -0.011858 -0.040483 -0.028516 -0.085926 -0.015436
2002-10-07 -0.015294  0.014804 -0.014388 -0.141004 -0.019446
...              ...       ...       ...       ...       ...
2019-10-28  0.004026  0.003250 -0.004818  0.012193  0.005117
2019-10-29 -0.006683 -0.003762 -0.004842 -0.004984  0.021210
2019-10-30  0.004205 -0.000105  0.011045 -0.008558 -0.015785
2019-10-31 -0.005025 -0.011119 -0.005072 -0.010526 -0.002532
2019-11-01  0.006902  0.013048  0.017647  0.020213  0.003103

[4362 rows x 5 columns]

In [92]:
#Q4, since i choose 5 stocks as holdings, so i could only the existing dataset tp calculate the weights
import numpy as np
return_5stocks = cons.iloc[:5, :]
#print(return_5stocks)

return_ETF_5stocks = np.array(close_return[:5])

weights_5stocks = np.matmul(return_ETF_5stocks.T, return_5stocks)
print(weights_5stocks)

[-0.01340146 -0.04198916 -0.03476124 -0.00983496 -0.03164034]

#Q5
1. Since interest is set near the last 10 day of the month, so I will not choose close date at the end of the month.
2. Avoid the holiday rush such as the four-day Thanksgiving weekend. 
Therefore, i choose the begining of the month as close date: 2002-10-08 to 2019-10-04

In [102]:
total_FEZ = list(fez.iloc[15:-20, :]['Close'])
return_close = (total_FEZ[-1]-total_FEZ[0])/total_FEZ[0]
print(return_close)

0.5089869002233811

In [111]:
total_cons = cons.iloc[5:-20, :]
total_cons
first = total_cons.iloc[1,:]
last = total_cons.iloc[-1,:]
return_5stocks_close=[]
for i in range(5):
    return_5stocks_close.append((last[i]-first[i])/first[i])
return_5stocks_close

[7.813786658533776,
 0.370906289537898,
 9.76354713764398,
 27.107522382798116,
 4.435220335416784]